*{
    margin: 0;
    padding: 0;

}
.contenedor{
    font-size: 25px;
}
.contenedor__font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor__font-size{
    font-size: 4em;
}
.contenedor__font-weight{
    font-weight: 900;
}
.contenedor__line-height{
    line-height: 2;

}