*{
    background: orangered;
    margin: 10px;
    padding: 0;
    font-size: 50px;
}
/* Especificidad (pseudo-elementos y elementos) */
h1{
    color:green;
}
/* toma al ultimo elemnto ya que al estar en la misma escala jerarquica toma el elemento ultimo en cascada */
h1{
    color: aquamarine;
}
/*(clases, psuedo-clases, atributos) */
h2 .color-blue {
    color: greenyellow;
}
[atributo='black']{
    color: black;
}
.color-blue:hover{
    color: darkblue;
} 
/* toma al ultimo elemnto ya que al estar en la misma escala jerarquica toma el elemento ultimo en cascada */

/* Identificadores (id) */

#identificador{
    color: darkviolet;
}
h3{
    color:gray !important;

}
h2 {
    color: bisque;
}
/* Tabla de especificidad */
/* !important
estilos en linea 
identificadores
(clases, psuedo-clases, atributos)
Especificidad (pseudo-elementos y elementos) */
